<app-header></app-header>
<main style="height: 2000px;">

    <section id="inicio" class="container">
        <div class="seccionInicio">
            <div  class="containerTitulo">
                <h1 class="tituloInicio">
                    Diseño arquitectónico
                    <span style="color: #333333;">innovador</span>
                    y funcional
                </h1>
                <div class="subtituloInicio">
                    Transformamos espacios con un enfoque minimalista y sostenible, creando ambientes que inspiran y perduran en el tiempo.
                </div>
                <div class="buttonInicio">
                    <button>Ver Proyectos</button>
                    <button>Contáctanos</button>
                </div>
            </div>
            <div class="containerCarousel">
                Carouseeeeeeeeeeeeeeeeeeeeeeeeeel
            </div>
        </div>
    </section>
</main>  
<app-footer></app-footer>
