.seccionInicio{
    display: flex;
    gap: 4.8rem;
    padding: 0 3.2rem;
    .containerTitulo{

        width: 50%;

        .tituloInicio{
            font-size: 6rem;
            line-height: 1;
            letter-spacing:-.15rem;
            font-weight: 700;
        }
    
    }

    .containerCarousel{
        width: 50%;
    }
}