<div class="space-y-6">
    <div class="flex justify-between">
        <div class="text-2xl font-bold">Gestion de Proyectos</div>
        <div class=" rounded-lg text-sm flex justify-around gap-3 p-4 bg-slate-800 text-white cursor-pointer"  
            (click)="openModalDetalle('nuevo', projects())">
            <div>
                <span>+</span>
            </div>
            <div>
                <span>Nuevo Proyecto</span>
            </div>
        </div>
    </div>

    <div class="max-w-60">
    <label
      for="buscar"
      class="flex gap-[6px] h-10 m-h-10 items-center bg-[#F4F4F5] rounded-md px-3 text-[#a1a1aa] hover:bg-[#e4e4e7] cursor-text"
    >
      <div class="text-current">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink"
          aria-hidden="true"
          role="img"
          width="1em"
          height="1em"
          viewBox="0 0 24 24"
        >
          <g
            fill="none"
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
          >
            <path d="m21 21l-4.34-4.34"></path>
            <circle cx="11" cy="11" r="8"></circle>
          </g>
        </svg>
      </div>
      <input
        class="w-full text-sm text-black outline-none bg-transparent placeholder:text-[12px]"
        type="text"
        name="buscar"
        placeholder="Buscar Proyectos..."
        id="buscar"
        (input)="buscarProyecto($event)"
      />
    </label>
  </div>
    <div class="flex flex-col gap-4 w-full border border-[#E4E4E7] rounded-md">
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" class="min-w-full h-auto w-full table-auto">

            <!--- Note that these columns can be defined in any order.
            The actual rendered columns are set as a property on the row definition" -->

            <!-- Position Column -->

            <ng-container matColumnDef="imagenprincipal">
                <th mat-header-cell *matHeaderCellDef
                    class="text-[#71717A] font-normal !bg-[#F4F4F5] text-xs p-3 text-left !outline-none !border-none">
                    IMAGEN
                </th>
                <td mat-cell *matCellDef="let element" class="font-normal text-xs p-3 text-left !border-none">

                    <div class="w-16 h-12 m-2">
                        <img [src]="element.imagenprincipal" class="w-full h-full object-cover" />
                    </div>

                </td>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="titulo">
                <th class="text-[#71717A] font-normal !bg-[#F4F4F5] text-xs p-3 text-left !outline-none !border-none"
                    mat-header-cell *matHeaderCellDef> TITULO </th>
                <td class="font-normal text-xs p-3 text-left !border-none" mat-cell *matCellDef="let element">
                    {{element.titulo}} </td>
            </ng-container>

            <!-- Weight Column -->
            <ng-container matColumnDef="categoria">
                <th class="text-[#71717A] font-normal !bg-[#F4F4F5] text-xs p-3 text-left !outline-none !border-none"
                    mat-header-cell *matHeaderCellDef> CATEGORIA
                </th>
                <td class="font-normal text-xs p-3 text-left !border-none" mat-cell *matCellDef="let element">
                    <div
                        class=" flex items-center max-w-fit flex-wrap justify-start  text-xs h-6 whitespace-nowrap px-1 rounded-full bg-[#33333333] text-[#525252]">
                        <span class="flex-1 text-inherit font-normal px-1">
                            {{ element.categoria ?? "Sin categoría" }}
                        </span>
                    </div>
                </td>
            </ng-container>

            <!-- Symbol Column -->
            <ng-container matColumnDef="fecha">
                <th class="text-[#71717A] font-normal !bg-[#F4F4F5] text-xs p-3 text-left !outline-none !border-none"
                    mat-header-cell *matHeaderCellDef> AÑO
                </th>
                <td class="font-normal text-xs p-3 text-left !border-none" mat-cell *matCellDef="let element">
                    {{element.fecha}}
                </td>
            </ng-container>
            <ng-container matColumnDef="ubicacion">
                <th class="text-[#71717A] font-normal !bg-[#F4F4F5] text-xs p-3 text-left !outline-none !border-none"
                    mat-header-cell *matHeaderCellDef> UBICACION
                </th>
                <td class="font-normal text-xs p-3 text-left !border-none" mat-cell *matCellDef="let element">
                    {{element.ubicacion}} </td>
            </ng-container>

            <!--! ACCIONES -->
            <ng-container matColumnDef="acciones">
                <th mat-header-cell *matHeaderCellDef
                    class="text-[#71717A] font-normal !bg-[#F4F4F5] text-xs p-3 text-left !outline-none !border-none">
                    ACCIONES
                </th>
                <td mat-cell *matCellDef="let element" class="!border-none">
                    <div class="flex items-center gap-2">
                        <button (click)="openModalDetalle('editar', element)" matTooltip="Editar"
                            class="p-2 box-border rounded-md hover:bg-[#e4e4e7] text-[#525252]">
                            <img src="../../../../assets/iconos/editar.svg" alt="ver-mensaje" />
                        </button>
                        <button matTooltip="Eliminar" (click)="modalDelete(element.id)"
                            class="p-2 box-border rounded-md hover:bg-[#e4e4e7] text-[#525252]">
                            <img src="../../../../assets/iconos/eliminar-mensaje.svg" alt="eliminar-mensaje" />
                        </button>
                        <!--! VISIBLE Y NO VISIBLE -->
                        <!-- <button matTooltip="Visible/No Visible" class="p-2 box-border rounded-md hover:bg-[#e4e4e7] text-[#525252]">
                            <img src="../../../../assets/iconos/puntosInformation.svg" alt="ver-mensaje" />
                        </button> -->
                        <button 
                            class="p-2 box-border rounded-md hover:bg-[#e4e4e7] text-[#525252]"
                            [class.-ml-1]="element.visible === false" (click)="visible(element.id)">
                            @if ( element.visible ) {
                            <img  src="../../../../assets/iconos/ver-mensaje.svg" alt="ver-mensaje" />
                            } @else {
                            <img src="../../../../assets/iconos/novisible.svg" alt="no-visible" />

                            }
                        </button>

                    </div>
                </td>
            </ng-container>


            <tr mat-header-row *matHeaderRowDef="displayedColumns" class="!h-10">
            <tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns" class="!border-none"
                [ngClass]="row.visible ? '!bg-[#f7f7f7]' : ''"></tr>

        </table>
    </div>

    <app-pagination [totalProjects]="projectsActivos().length" [currentPage]="currentPage()"
        (pageChange)="onPageChange($event)"></app-pagination>

</div>