<footer class="containerFooter">
    <div class="seccionFooter">
        <div class="spaceFooter">
            <div class="informacionFooter">
                <div class="subSeccion1">
                    <h3 class="tituloFooter">SIQAYSTUDIO</h3>
                    <p class="subtituloFooter">Transformamos espacios con diseños innovadores, funcionales y sostenibles que mejoran la calidad de vida.</p>
                    <div class="containerImagen">
                        <a href="https://www.instagram.com" target="_blank">
                            <img src="../../../assets/iconos/instagram.svg" alt="instagram">
                        </a>
                        <a href="https://www.facebook.com" target="_blank">
                            <img src="../../../assets/iconos/facebook.svg" alt="facebook">
                        </a>
                        <a href="https://www.tiktok.com" target="_blank">
                            <img src="../../../assets/iconos/tiktok.svg" alt="tiktok">
                        </a>
                        <a href="https://www.linkedin.com" target="_blank">
                            <img src="../../../assets/iconos/linkedin.svg" alt="linkedin">
                        </a>
                    </div>
                </div>
                <div class="subSeccion2">
                    <h3 class="tituloFooter2">Enlaces Rápidos</h3>
                    <ul class="containerLinks">
                        <li>Inicio</li>
                        <li>Proyectos</li>
                        <li>Nosotros</li>
                        <li>Servicios</li>
                        <li>Contacto</li>
                    </ul>
                </div>
                <div class="subSeccion3">
                    <h3 class="tituloFooter2">Servicios</h3>
                    <ul class="containerLinks">
                        <li>Arquitectura Residencial</li>
                        <li>Arquitectura Comercial</li>
                        <li>Arquitectura Cultural</li>
                        <li>Diseño de Interiores</li>
                        <li>Paisajismo</li>
                        <li>Consultoría</li>
                    </ul>
                </div>
                <div class="subSeccion4">
                    <h3 class="tituloFooter2">Contacto</h3>
                    <ul class="containerLinks">
                        <li>Calle Principal 123, Ciudad</li>
                        <li>+51 123 456 789</li>
                        <li>infoarchistudio.com</li>
                        <li>Lun-Vie: 9:00 - 18:00</li>
                    </ul>
                </div>
            </div>
            <div class="copyright">
                © 2025 SiqayStudio. Todos los derechos reservados.
            </div>
        </div>
    </div>
</footer>
