::ng-deep{
    .mat-mdc-dialog-surface{
        overflow: hidden !important;
        border-radius: 12px !important;
    }
}

.scroll-delgado {
  scrollbar-width: thin;
  scrollbar-color: #c1c1c1 transparent;

  &::-webkit-scrollbar {
    width: 6px;
  }
  &::-webkit-scrollbar-thumb {
    background-color: #c1c1c1;
    border-radius: 4px;
  }
  &::-webkit-scrollbar-thumb:hover {
    background-color: #9e9e9e;
  }
}