.swiper {
  width: 100%;
  max-width: 800px;
  position: relative;
  margin: auto;

  .swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;

    .slide-content {
      position: relative;
      width: 100%;
      overflow: hidden;
      border-radius: 16px;
      box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);
      &::after {
          content: "";
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
          height: 30%; // cubre el 30% inferior
          background: linear-gradient(to top, hsla(0, 0%, 0%, 0.7), transparent);
          pointer-events: none; // para que no bloquee clicks
        }

      img {
        width: 100%;
        height: 500px;
        object-fit: cover;
        border-radius: 16px;
        
      }

      .info {
        position: absolute;
        bottom: 20px;
        left: 20px;
        z-index: 10;
        color: white;
        // background: rgba(0, 0, 0, 0.4);
        // padding: 10px 15px;
        // border-radius: 8px;

        h3 {
          font-size: 1.5rem;
          font-weight: 500;
          font-family: "Roboto";
        }
      }
    }
  }

  .custom-btn {
    // background: rgba(255, 255, 255, 0.6);
    background-color: #ffffff66;
    color: #444;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    font-weight: bold;
    justify-content: center;
    align-items: center;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
    transition: all 0.2s ease;
    &::after {
      font-size: 14px;
      font-weight: 800;
      color: #616161;
    }
    &:hover {
      background: #ddd;
      //   transform: scale(1.05);
    }
  }

  .swiper-button-prev {
    left: 16px;
    font-weight: 600;
  }
  .swiper-button-next {
    right: 16px;
    font-weight: 600;
  }

  .swiper-pagination {
    display: flex;
    justify-content: center;
    gap: 3px;
    bottom: 10px;
    position: absolute;
  }
  ::ng-deep .swiper-pagination-bullet {
    width: 32px;
    height: 12px;
    background: #bfbfbf !important;
    opacity: 1;
    border-radius: 30%;
    transition: all 0.3s ease;
  }
  ::ng-deep .swiper-pagination-bullet-active {
    // background: #616161 !important;
    opacity: 0.3;
    // transform: scale(1.3);
  }
}
