
// .containerNav{
//     //padding: 0 2.4rem;
//     padding: 0 24px;
//     display: flex;
//     justify-content: center;
//     width: 100%;
//     position: fixed;
//     z-index: 50;
//     border-bottom: .1rem solid hsl(220 14% 85% / 1);
//     top: 0;
//     left: 0;
//     background-color: rgba(255,255,255, 0.7);
//     backdrop-filter: blur(16px) saturate(1.5);
//     -webkit-backdrop-filter: blur(16px); // para Safari

//     .menuMovil {
//         display: none;
//         backdrop-filter: blur(4px);

//         @media (max-width: 768px) {
            
//             position: fixed;
//             top: 0;
//             left: 0;
//             width: 100%;
//             height: 100vh;
//             background-color: rgba(34, 34, 34, .95);
//             border-radius: 0 0 80% 0;
//             display: flex;
//             align-items: center;
//             justify-content: center;
//             z-index: 1000;
//             transition: opacity 0.3s ease, visibility 0.3s ease;
//             // backdrop-filter: blur(4px);
//             touch-action: none;
        
//         }

//         .menuContenido {
//             display: flex;
//             flex-direction: column;
//             gap: 1.5rem;
//             text-align: center;
//             z-index: 2;

//             .mat-icon-close {
//                 width: 90px;
//                 height: 90px;
//                 font-size: 30px;
//                 color: #fff;
//                 align-items: center;
//                 justify-content: center;

//                 mat-icon {
//                     width: inherit;
//                     height: inherit;
//                     font-size: 40px;
//                 }
//             }

//             .itemSeccion {
//                 font-size: 1.4rem;
//                 color: #fff;
//                 cursor: pointer;
//                 font-weight: 400;
//                 transition: color 0.3s ease, transform 0.2s ease;
//                 letter-spacing: 1px;

//                 &:hover {
//                         color: #00d1b2; /* toque moderno tipo turquesa */
//                     transform: scale(1.05);
//                 }
//             }
//         }
//     }
//     .containerPrincipal{
//         display: flex;
//         justify-content: space-between;
//         align-items: center;
//         height: 6.5rem;
//         font-size: 2rem;
//         font-weight: 600;
//         max-width: 128rem;
//         width: 100%;

//         .containerLogo {
//             @media (max-width: 768px) {
//                 display: none;
//             }
//         }

//         //! ITEMS PARA EL MENU HAMBURGUESA - INICIO
//         .menuHamburguesa {
//             display: none;
//             mat-toolbar {
//                 background-color: rgba(255,255,255, 0.7);
//                 padding: 0;
//             }
            
//             @media (max-width: 768px) {
//                     display: block; // muestra el ícono de hamburguesa
//                     cursor: pointer;
//             }
//         }




//         //! ITEMS PARA EL MENU HAMBURGUESA - FIN

        
//         .containerSeccion{
//             display: flex;
//             gap: 3.5rem;
//             margin: 0 10px;

//             @media (max-width: 768px) {
//             display: none;
//         }
    
//             .itemSeccion{
//                 font-size: 1.3rem;
//                 font-weight: 500;
//                 transition: opacity 0.2s ease;
//                 -webkit-tap-highlight-color: transparent;
//                 outline: none;
//                 color: #18181b;
//                 cursor: pointer;
//                 &:hover {
//                     opacity: 0.8; // hover:opacity-hover
//                 }

//                 &:active {
//                     opacity: 0.4; // active:opacity-disabled
//                 }    
//             }
    
//         }

//         .containerButton{
//             // @media (max-width:768px) {
//             //     display: none;
//             // }
//             .consultaGratuita{
//                 color: #525252;
//                 background-color: rgba(48, 48, 48, 0.2);
//                 padding: 0 1rem;
//                 font-weight: 500;
//                 height: 4rem;
//                 font-size: 1.4rem;
//                 border: none;
//                 border-radius: .5rem;
//                 cursor: pointer;
//                 user-select: none;
//                 transition: opacity 0.2s ease, transform 0.2s ease;
//                 &:hover{
//                     opacity: 0.8; // equivale a `hover:opacity-hover`
//                 }
//                 &:active{
//                       opacity: 0.4; // equivale a `active:opacity-disabled`
//                 } 
//                 &:focus-visible {
//                     outline: 2px solid rgba(48, 48, 48, 0.4); // accesibilidad
//                     outline-offset: 2px;
//                 }
//             }
//         }
//       }
//     }
 .containerNav {
  padding: 0 24px;
  display: flex;
  justify-content: center;
  width: 100%;
  position: fixed;
  z-index: 50;
  border-bottom: 0.0625rem solid hsl(220 14% 85% / 1);
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.7);
  backdrop-filter: blur(16px) saturate(1.5);
  -webkit-backdrop-filter: blur(16px); // para Safari

  .menuMovil {
    display: none;
    backdrop-filter: blur(4px);

    @media (max-width: 768px) {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100vh;
      background-color: rgba(34, 34, 34, 0.95);
      border-radius: 0 0 50% 0;
      display: flex;
      align-items: center;
      justify-content: center;
      z-index: 1000;
      transition: opacity 0.3s ease, visibility 0.3s ease;
      touch-action: none;
    }

    .menuContenido {
      display: flex;
      flex-direction: column;
      gap: 0.9375rem;
      text-align: center;
      z-index: 2;

      .mat-icon-close {
        width: 90px;
        height: 90px;
        font-size: 1.875rem;
        color: #fff;
        align-items: center;
        justify-content: center;

        mat-icon {
          width: inherit;
          height: inherit;
          font-size: 2.5rem;
        }
      }

      .itemSeccion {
        font-size: 0.875rem;
        color: #fff;
        cursor: pointer;
        font-weight: 400;
        transition: color 0.3s ease, transform 0.2s ease;
        letter-spacing: 1px;

        &:hover {
          color: #00d1b2; /* toque moderno tipo turquesa */
          transform: scale(1.05);
        }
      }
    }
  }

  .containerPrincipal {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 4.0625rem;
    font-size: 1.25rem;
    font-weight: 600;
    max-width: 80rem;
    width: 100%;

    .containerLogo {
      @media (max-width: 768px) {
        display: none;
      }
    }

    //! ITEMS PARA EL MENU HAMBURGUESA - INICIO
    .menuHamburguesa {
      display: none;
      mat-toolbar {
        background-color: inherit;
        padding: 0;
      }

      @media (max-width: 768px) {
        display: block; // muestra el ícono de hamburguesa
        cursor: pointer;
      }
    }
    //! ITEMS PARA EL MENU HAMBURGUESA - FIN

    .containerSeccion {
      display: flex;
      gap: 2.1875rem;
      margin: 0 10px;

      @media (max-width: 768px) {
        display: none;
      }

      .itemSeccion {
        font-size: 0.8125rem;
        font-weight: 500;
        transition: opacity 0.2s ease;
        -webkit-tap-highlight-color: transparent;
        outline: none;
        color: #18181b;
        cursor: pointer;

        &:hover {
          opacity: 0.8;
        }

        &:active {
          opacity: 0.4;
        }
      }
    }

    .containerButton {
      .consultaGratuita {
        color: #525252;
        background-color: rgba(48, 48, 48, 0.2);
        padding: 0 1rem;
        font-weight: 500;
        height: 2.5rem;
        font-size: 0.875rem;
        border: none;
        border-radius: 0.3125rem;
        cursor: pointer;
        user-select: none;
        transition: opacity 0.2s ease, transform 0.2s ease;

        &:hover {
          opacity: 0.8;
        }

        &:active {
          opacity: 0.4;
        }

        &:focus-visible {
          outline: 0.125rem solid rgba(48, 48, 48, 0.4);
          outline-offset: 0.125rem;
        }
      }
    }
  }
}


