.containerNav{
    //padding: 0 2.4rem;
    display: flex;
    justify-content: center;
    width: 100%;
    position: fixed;
    z-index: 50;
    border: .1rem solid hsl(220 14% 85% / 1);
    top: 0;
    left: 0;
    .containerPrincipal{
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 6.5rem;
        font-size: 2rem;
        font-weight: 600;
        max-width: 128rem;
        width: 100%;
        .containerSeccion{
            display: flex;
            gap: 3.5rem;
    
            .itemSeccion{
            font-size: 1.4rem;
            transition: opacity 0.2s ease;
            -webkit-tap-highlight-color: transparent;
            outline: none;
            color: #18181b;
            cursor: pointer;
            &:hover {
                opacity: 0.8; // hover:opacity-hover
            }

            &:active {
                opacity: 0.4; // active:opacity-disabled
            }    
            }
    
        }

        .containerButton{
            .consultaGratuita{
                color: #525252;
                background-color: rgba(48, 48, 48, 0.2);
                padding: 0 1.6rem;
                font-weight: 600;
                height: 4rem;
                font-size: 1.4rem;
                border: none;
                border-radius: .5rem;
                cursor: pointer;
                user-select: none;
                transition: opacity 0.2s ease, transform 0.2s ease;
                &:hover{
                    opacity: 0.8; // equivale a `hover:opacity-hover`
                }
                &:active{
                      opacity: 0.4; // equivale a `active:opacity-disabled`
                } 
                &:focus-visible {
                    outline: 2px solid rgba(48, 48, 48, 0.4); // accesibilidad
                    outline-offset: 2px;
                }
            }
        }
    
    }
}