<nav class="containerNav">
    <div class="containerPrincipal">
        <div class="containerLogo">
            SIQAYESTUDIO
        </div>
        <div class="containerSeccion">
            @for (item of listaHeader; track item.id) {
                <div class="itemSeccion">{{item.nombre}}</div>
            }
        </div>
        <div class="containerButton">
            <button class="consultaGratuita">
                Consulta Gratuita
            </button>
        </div>
    </div>
</nav>
