@tailwind base;
@tailwind components;
@tailwind utilities;

/* You can add global styles to this file, and also import other style files */
html{
    //font-size: 10px;
}

body {
    font-family: 'Inter' , sans-serif;
    color: #11181C;;
    margin: 0;
    box-sizing: border-box;
}

// .container {
//     max-width: 128rem;
//     padding: 9.6rem 0;
//     //padding: 12.6rem 0;
//     margin: 0 auto;
// }

.container {
    max-width: 80rem;
    padding: 6rem 0;
    //padding: 12.6rem 0;
    margin: 0 auto;
}

.modal-redondeado {
  border-radius: 25px !important;
  overflow: hidden;
}

// .marginTopBody{
//     margin-top: 6.5rem;
    
// }

.marginTopBody{
    margin-top: 4.0625rem;  
    // padding-left: 1.5rem;
    // padding-right: 1.5rem;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


