::ng-deep{
    .mat-mdc-dialog-surface{
        overflow: hidden !important;
        border-radius: 12px !important;
    }
}

.scroll-delgado {
  scrollbar-width: thin;
  scrollbar-color: #c1c1c1 transparent;

  &::-webkit-scrollbar {
    width: 6px;
  }
  &::-webkit-scrollbar-thumb {
    background-color: #c1c1c1;
    border-radius: 4px;
  }
  &::-webkit-scrollbar-thumb:hover {
    background-color: #9e9e9e;
  }
}

.seccionContactanos {
  padding: 0 1rem; 
  /* 3.2rem -> 2rem */
  display: grid;
  //   grid-template-columns: repeat(3, minmax(0, 1fr));
  grid-template-columns: 1fr;
  gap: 3.2rem;

  @media (max-width: 1024px) {
    grid-template-columns: 1fr;
  }
  .leftContactanos {
    // grid-column: span 2 / span 2;
    outline: 2px solid transparent;
    height: auto;
    box-sizing: border-box;
    overflow: hidden;
    // border-radius: 12px;
    // border: 1px solid #1111111a;
    // background-color: #ffffff;
    // box-shadow: 0px 0px 15px 0px rgb(0 0 0 / 0.03),
    //   0px 2px 30px 0px rgb(0 0 0 / 0.08), 0px 0px 1px 0px rgb(0 0 0 / 0.3);

    .contenidoContactanos {
    //   padding: 1.5rem; 
      /* 2.4rem -> 1.5rem */

      .tituloContactanos {
        font-weight: 600;
        font-size: 1.25rem; /* 2rem -> 1.25rem */
        line-height: 1.75rem; /* 2.8rem -> 1.75rem */
        margin-bottom: 1.5rem; /* 2.4rem -> 1.5rem */
      }
    }

    .contenidoFormulario {
        width: inherit;
      .dosInputs {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1.5rem; /* 2.4rem -> 1.5rem */
        margin-bottom: 1.5rem; /* 2.4rem -> 1.5rem */

        //! ESTILO PARA LA FECHA QUE VIENE E ANGULAR MATERIAL
        ::ng-deep .mat-mdc-form-field.mat-focused .mat-mdc-text-field-wrapper,
        ::ng-deep .mat-mdc-form-field .mat-mdc-text-field-wrapper {
        background-color: #fff !important;

}

        .contenedorInput {
          display: flex;
          flex-direction: column;
          position: relative;
        }

        
      }
      
    }

  }
}

.inputForm {
  box-sizing: border-box;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  flex-direction: column;
  box-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05), 0 1px 2px 0 #0000000d;
  padding: 0.5rem 0.75rem; /* 0.8rem 1.2rem -> 0.5rem 0.75rem */
  border: 1px solid #e4e4e7;
  border-radius: 4px;
  min-height: 2.5rem; /* 4rem -> 2.5rem */
  height: 3.5rem; /* 5.6rem -> 3.5rem */
  position: relative;

  &.sinHeight {
    height: auto;
  }

  cursor: text;
  &.pointer {
    cursor: pointer;
  }

  &:focus-within {
    border-color: black;
  }
  &:hover {
    border-color: black;
  }

  .labelInput {
    position: absolute;
    top: 0.3125rem; /* 0.5rem -> 0.3125rem */
    left: 0.625rem; /* 1rem -> 0.625rem */
    background-color: white;
    padding: 0 0.25rem; /* 0.4rem -> 0.25rem */
    font-size: 0.75rem; /* 1.2rem -> 0.75rem */
    color: #71717a;

    span {
      color: red;
    }
  }

  .labelTextarea {
    padding: 0 0.25rem; /* 0.4rem -> 0.25rem */
    font-size: 0.75rem; /* 1.2rem -> 0.75rem */
    color: #71717a;
  }

  .textareaFormCorta {
    min-height: 5rem;
        width: 100%;
        height: auto;
        resize: none;
        font: inherit;
        border: none;
        // height: 100%;
        &:focus {
        outline: none;
        border: 0;
        }
  }

  .textareaForm {
      min-height: 8rem;
        width: 100%;
        height: auto;
        resize: none;
        font: inherit;
        border: none;
        // height: 100%;
        &:focus {
        outline: none;
        border: 0;
        }
  }

  .flechaContainer {
    width: 1rem; /* 1.6rem -> 1rem */
    height: 1rem; /* 1.6rem -> 1rem */
    position: absolute;
    right: 0.625rem; /* 1rem -> 0.625rem */
    transform: translateY(-50%);
    top: 50%;
  }

  .input__container {
    display: inline-flex;
    align-items: flex-end;
    width: 100%;
    height: 100%;

    .input {
      outline: 2px solid transparent !important;
      outline-offset: 2px !important;
      width: 100%;
      border: none;
    }
  }

  .placeholderSpan {
    color: #71717a;
    font-size: 0.875rem; /* 1.4rem -> 0.875rem */
  }
}

.opcionCategorias {
  display: flex;
  flex-direction: column;
  padding: 0.25rem; /* 0.4rem -> 0.25rem */
  gap: 0.25rem; /* 0.4rem -> 0.25rem */
  overflow: auto;
  background-color: white;
  border-radius: 0.75rem; /* 1.2rem -> 0.75rem */
  position: absolute;
  z-index: 100000;
  max-height: 300px;
  width: 100%;
  top: 60px;
  box-sizing: border-box;
  box-shadow: 0px 0px 15px 0px #00000008, 0px 2px 30px 0px #00000014,
    0px 0px 1px 0px #0000004d;

  ul {
    outline: 2px solid transparent;
    outline-offset: 2px;
    gap: 0.125rem; /* 0.2rem -> 0.125rem */
    display: flex;
    width: 100%;
    list-style: none;
    margin: 0;
    padding: 0;
    flex-direction: column;

    li {
      outline: 2px solid transparent;
      outline-offset: 2px;
      padding: 0.5rem 0.375rem; /* 0.8rem 0.6rem -> 0.5rem 0.375rem */
      border-radius: 0.25rem; /* 0.4rem -> 0.25rem */
      display: flex;
      height: 100%;
      width: 100%;
      cursor: pointer;
      box-sizing: border-box;
      align-items: center;
      justify-content: space-between;
      font-size: 0.875rem; /* 1.4rem -> 0.875rem */

      &:hover {
        background-color: #d4d4d8;
        transition-property: color, background-color, border-color,
          text-decoration-color, fill, stroke;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        transition-duration: 250ms;
      }
    }
  }
}

.enviarMensaje {
  color: white;
  height: 48px;
  font-weight: 400;
  outline: 2px solid transparent;
  outline-offset: 2px;
  font-size: 0.9375rem; /* 1.5rem -> 0.9375rem */
  box-sizing: border-box;
  padding: 0 1.5rem; /* 2.4rem -> 1.5rem */
  background-color: #333333;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.25rem; /* 0.4rem -> 0.25rem */

  &:disabled {
    background-color: #7676764d;
    border: none;
  }
  &:not(:disabled),
  &:hover {
    cursor: pointer;
  }
}

.error {
  margin-top: 0.1875rem; /* 0.3rem -> 0.1875rem */
  padding: 0 0.25rem; /* 0.4rem -> 0.25rem */
  font-size: 0.75rem; /* 1.2rem -> 0.75rem */
  color: #f31260;
}