<div class="flex flex-col gap-5 p-5 rounded-2xl">
    <div class="flex justify-between">
        <h3>Editar Proyecto</h3>
        <div (click)="closeModal()">
            x
        </div>
    </div>
    @if( data.project ){
    <div class="seccionContactanos">
        <div class="leftContactanos">
            <div class="contenidoContactanos">
                <div class="tituloContactanos">Envíanos un mensaje</div>
                <form class="contenidoFormulario" [formGroup]="proyectoForm" (ngSubmit)="onSubmit()">
                    <div class="dosInputs">
                        <!--! TITULO -->

                        <div class="contenedorInput">
                            <label class="inputForm" for="titulo">
                                <span class="labelInput">Titulo *</span>
                                <div class="input__container">
                                    <input id="titulo" type="text" class="input"    name="titulo"
                                        formControlName="titulo"
                                        placeholder="El titulo del proyecto " [value]="data.project.titulo" required />
                                </div>
                            </label>
                            @if( isValidField(proyectoForm, 'titulo') ) {
                                <div class="error">
                                El nombre del proyecto es obligatorio es obligatorio.
                            </div>
                            }
                        </div>

                        <!--! CATEGORIA -->
                        <div class="contenedorInput" (click)="openCategorias.set(!openCategorias())">
                            <div class="inputForm pointer">
                                <div class="labelInput">Categoria</div>
                                @if (categorias()) {
                                <span> {{ categoriaSeleccionadaLectura()?.nombre }} </span>
                                }@else {
                                <span class="placeholderSpan"> Selecciona una opción </span>
                                }

                                <div class="flechaContainer">
                                    @if (openCategorias()) {
                                    <svg width="16" height="16" viewBox="0 0 24 24" fill="none"
                                        xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                                        <path d="M18 15L12 9 6 15" stroke="currentColor" stroke-width="2"
                                            stroke-linecap="round" stroke-linejoin="round" />
                                    </svg>
                                    }@else {
                                    <svg width="16" height="16" viewBox="0 0 24 24" fill="none"
                                        xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                                        <path d="M6 9l6 6 6-6" stroke="currentColor" stroke-width="2"
                                            stroke-linecap="round" stroke-linejoin="round" />
                                    </svg>
                                    }
                                </div>
                            </div>
                            @if (openCategorias()) {
                            <div class="opcionCategorias">
                                <ul>
                                    @for (categoria of categorias(); track categoria.id) {
                                    <li (click)="seleccionarCategoria(categoria)">
                                        {{ categoria.nombre }}
                                        @if(categoria.seleccionado) {

                                            <span class="checkIcon">
                                                <svg width="16" height="16" viewBox="0 0 24 24" fill="none">
                                                    <path d="M5 13l4 4L19 7" stroke="#000" stroke-width="2"
                                                        stroke-linecap="round" stroke-linejoin="round" />
                                                </svg>
                                            </span>
                                        }
                                    </li>
                                    }
                                </ul>
                            </div>
                            }
                        </div>
                    </div>

                    <div class="dosInputs">
                        <!--! ANIO -->
                        <div class="contenedorInput">
                            <label class="inputForm" for="fecha">
                                <span class="labelInput">Año</span>
                                <div class="input__container">
                                    <input id="fecha" type="text" name="fecha" 
                                    formControlName="fecha" class="input"
                                        placeholder="2025" />
                                </div>
                            </label>
                             @if( isValidField(proyectoForm, 'fecha') ) {
                                <div>
                                    La fecha debe ser Obligatorio
                                </div>
                            }
                        </div>

                        <!--! CLIENTE -->
                        <!-- <div class="contenedorInput">
                            <label class="inputForm" for="cliente">
                                <span class="labelInput">Cliente *</span>
                                <div class="input__container">
                                    <input id="cliente" type="text" class="input" name="cliente" placeholder="Nombre del Cliente"
                                        required formControlName="cliente" />
                                </div>
                            </label> -->
                             <!-- @if( isValidField(proyectoForm, 'cliente') ) {
                                <div class="error">
                                    Por favor, ingresa el nombre del cliente
                                </div>
                            } -->
                        <!-- </div> -->
                        
                    </div>
                    
                   <div class="flex flex-col space-y-1">
                     <!--! UBICACION -->
                     <div class="contenedorInput mb-5">
                         <label class="inputForm" for="ubicacion">
                             <span class="labelInput">Ubicacion *</span>
                             <div class="input__container">
                                 <input id="ubicacion" type="text" class="input" name="ubicacion" 
                                 formControlName="ubicacion"
                                 placeholder="Ubicacion"                                    required />
                             </div>
                         </label>
                          @if( isValidField(proyectoForm, 'ubicacion') ) {
                             <div class="error">
                                 Por favor, ingresa la ubicacion
                             </div>
                         }
                     </div>
                    
                     <!--! DESCRIPCION CORTA -->
                     <div class="dosInputs" style="grid-template-columns: 1fr">
                         <div class="contenedorInput">
                             <label class="inputForm sinHeight" for="descripcioncorta">
                                 <span class="labelTextarea">Descripcion Corta *</span>
                                 <textarea class="textareaFormCorta" name="descripcioncorta" 
                                 formControlName="descripcioncorta"
                                 id="descripcioncorta"                                     placeholder="Cuéntanos sobre tu proyecto" required></textarea>
                             </label>
                              @if( isValidField(proyectoForm, 'descripcioncorta') ) {
                                 <div class="error">
                                     Completa este campo
                                 </div>
                             }  
                         </div>
                     </div>
                     <!--! DESCRIPCION LARGA -->
                     <div class="dosInputs" style="grid-template-columns: 1fr">
                         <div class="contenedorInput">
                             <label class="inputForm sinHeight" for="descripcioncompleta">
                                 <span class="labelTextarea">Descripcion Larga *</span>
                                 <textarea class="textareaForm" name="descripcioncompleta" id="descripcioncompleta"
                                     placeholder="Cuéntanos sobre tu proyecto" 
                                      formControlName="descripcioncompleta"
                                      required></textarea>
                             </label>
                              @if( isValidField(proyectoForm, 'descripcioncompleta') ) {
                                 <div class="error">
                                     Completa este campo
                                 </div>
                             }
                         </div>
                   
                    
                    
                     <!--! IMAGEN URL -->
                     <div class="cotenedorCompletoInput">
                         <label class="inputForm" for="imagenprincipal">
                             <span class="labelInput">Imagen Principal *</span>
                             <div class="input__container">
                                 <input id="imagenprincipal" type="text" class="input" name="imagenprincipal" placeholder="Imagen"
                                 formControlName="imagenprincipal"
                                     required />
                             </div>
                         </label>
                          @if( isValidField(proyectoForm, 'imagenprincipal') ) {
                             <div class="error">
                                 Por favor, tiene que ingresar una imagen
                             </div>
                         }
                     </div>
                   </div>
                     </div>

                    <!-- <div class="cotenedorCompletoInput">
                        <label class="inputForm" for="descripcioncompleta">
                            <span class="labelInput">Descripcion Completa *</span>
                            <div class="input__container">
                                <input id="descripcioncompleta" type="descripcioncompleta" class="input" name="descripcioncompleta" placeholder="Descripcion Corta" [value]="data.project.descripcioncompleta"
                                    required />
                            </div>
                        </label>
                        <div class="error">
                            Por favor, tiene que tener minimo de 5 caracteres
                        </div>
                    </div> -->

                    

                    <button class="enviarMensaje" type="submit">
                        <!-- {{ loading() ? 'Guardando Proyecto' : 'Guardar Cambios'}} -->
                          'Guardar Cambios'
                    </button>
                </form>
            </div>
        </div>

    </div>
    }
</div>