<div class="flex flex-col gap-5 p-5 rounded-2xl">
    <div class="flex justify-between">
        <h3>Editar Proyecto</h3>
        <div (click)="closeModal()">
            x
        </div>
    </div>
    @if( data.project ){
        <form>
            <!--! TITULO Y CATEGORIA -->
            <div class="flex gap-4 mb-4">
                <!--! TITULO -->
                <div class="relative w-80 flex">
                    <input type="text" id="titulo" name="titulo" placeholder=" " [value]="data.project.titulo"
                        class="block w-full rounded-md border border-gray-300 bg-transparent px-3 pt-5 pb-2 text-sm text-gray-900 focus:ring-slate-900 focus:ring-1  focus:outline-none " />
                    <label for="titulo"
                        class="absolute left-3 top-1.5 text-gray-500 text-[12px] transition-all peer-placeholder-shown:top-4 peer-placeholder-shown:text-gray-400 peer-placeholder-shown:text-sm mb-2 ">
                        {{ data.project.titulo }} <span class="text-pink-600">*</span>
                    </label>
                </div>
                <!--! CATEGORIAS -->
                <!-- <div class="relative w-80 flex">
                    <select id="country"
                        class="peer w-full appearance-none border border-gray-300 rounded-md bg-transparent px-3 pt-5 pb-2 text-gray-900 focus:ring-slate-900 focus:ring-1 outline-none"
                        onfocus="this.parentElement.querySelector('svg').classList.add('rotate-180')"
                        onblur="this.parentElement.querySelector('svg').classList.remove('rotate-180')">
                        <option value="" disabled selected></option>
                        <option value="pe">Perú</option>
                        <option value="mx">México</option>
                        <option value="ar">Argentina</option>
                    </select>
    
                    <label for="titulo"
                        class="absolute left-3 top-1.5 text-gray-500 text-sm transition-all peer-placeholder-shown:top-4 peer-placeholder-shown:text-gray-400 peer-placeholder-shown:text-sm mb-2 ">
                        Título <span class="text-pink-600">*</span>
                    </label>
    
                    <!-- Flecha animada -->
                <!-- <svg class="absolute right-3 top-1/2 -translate-y-1/2 w-4 h-4 text-gray-600 transition-transform duration-200 pointer-events-none"
                        xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7" />
                    </svg> -->
    
    
                <!-- </div> -->
                <!--! CATEGORIA -->
                <div class="relative w-80 flex">
                    <select id="categoria"
                        class="peer w-full appearance-none border border-gray-300 rounded-md bg-transparent px-3 pt-5 pb-2 text-gray-900 text-sm focus:border-gray-900 focus:ring-1 focus:ring-gray-900 outline-none"
                        onfocus="this.parentElement.querySelector('svg').classList.add('rotate-180')"
                        onblur="this.parentElement.querySelector('svg').classList.remove('rotate-180')">
                        <option value="" disabled selected></option>
                        <option value="residencial">Residencial</option>
                        <option value="comercial">Comercial</option>
                        <option value="cultural">Cultural</option>
                        <option value="publico">Público</option>
                        <option value="hospitalidad">Hospitalidad</option>
                    </select>
    
                    <label for="categoria"
                        class="absolute left-3 top-1.5 text-gray-500 text-[12px] transition-all peer-placeholder-shown:top-4 peer-placeholder-shown:text-gray-400 peer-placeholder-shown:text-sm peer-focus:top-1.5 peer-focus:text-gray-500 peer-focus:text-sm">
                        Categoría <span class="text-pink-600">*</span>
                    </label>
    
                    <!-- Flecha animada -->
                <svg class="absolute right-3 top-1/2 -translate-y-1/2 w-4 h-4 text-gray-600 transition-transform duration-200 pointer-events-none"
                        xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7" />
                    </svg>
                </div> 
    
                <!--! FUTURA CATEGORIA -->
                <!-- <div x-data="{ open: false, selected: 'Categoría *' }" class="relative w-80">
                    <button
                        class="w-full text-left border border-gray-300 rounded-lg bg-white px-3 py-2.5 text-gray-900 text-sm flex justify-between items-center">
                        <span x-text="selected"></span>
                        <svg :class="{ 'rotate-180': open }" class="w-4 h-4 text-gray-600 transition-transform duration-200"
                            xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7" />
                        </svg>
                    </button>
    
                    <div x-show="open"
                        class="absolute z-10 mt-1 w-full bg-white border border-gray-300 rounded-lg shadow-md overflow-hidden">
                        <ul>
                            <li class="px-3 py-2 hover:bg-gray-100 cursor-pointer">Residencial</li>
                            <li class="px-3 py-2 hover:bg-gray-100 cursor-pointer">Comercial</li>
                            <li class="px-3 py-2 hover:bg-gray-100 cursor-pointer">Cultural</li>
                            <li class="px-3 py-2 hover:bg-gray-100 cursor-pointer">Público</li>
                            <li class="px-3 py-2 hover:bg-gray-100 cursor-pointer">Hospitalidad</li>
                        </ul>
                    </div>
                </div> -->
    
            </div>
            <!--! ANIO Y CLIENTE -->
            <div class="flex gap-4 mb-4">
                <!--! ANIO -->
                <div class="relative w-80 flex">
                    <input type="text" id="anio" name="anio" placeholder=" " [value]="data.project.fecha | date:'yyyy' "
                        class="block w-full rounded-md border border-gray-300 bg-transparent px-3 pt-5 pb-2 text-sm text-gray-900 focus:ring-slate-900 focus:ring-1  focus:outline-none " />
                    <label for="anio"
                        class="absolute left-3 top-1.5 text-gray-500 text-[12px] transition-all peer-placeholder-shown:top-4 peer-placeholder-shown:text-gray-400 peer-placeholder-shown:text-sm mb-2 ">
                        Año <span class="text-pink-600">*</span>
                    </label>
                </div>
                <!--! CLIENTE -->
                <div class="relative w-80 flex">
                    <input type="text" id="titulo" name="titulo" placeholder=" " [value]="data.project.titulo"
                        class="block w-full rounded-md border border-gray-300 bg-transparent px-3 pt-5 pb-2 text-sm text-gray-900 focus:ring-slate-900 focus:ring-1  focus:outline-none " />
                    <label for="titulo"
                        class="absolute left-3 top-1.5 text-gray-500 text-sm transition-all peer-placeholder-shown:top-4 peer-placeholder-shown:text-gray-400 peer-placeholder-shown:text-sm mb-2 ">
                        Cliente <span class="text-pink-600">*</span>
                    </label>
                </div>
            </div>
            <div class="flex gap-4 flex-col mb-4">
                <!--! UBICACION -->
                <div class="relative w-full flex">
                    <input type="text" id="titulo" name="titulo" placeholder=" " value="Casa Horizonte"
                        class="block w-full rounded-md border border-gray-300 bg-transparent px-3 pt-5 pb-2 text-sm text-gray-900 focus:ring-slate-900 focus:ring-1  focus:outline-none " />
                    <label for="titulo"
                        class="absolute left-3 top-1.5 text-gray-500 text-sm transition-all peer-placeholder-shown:top-4 peer-placeholder-shown:text-gray-400 peer-placeholder-shown:text-sm mb-2 ">
                        Título <span class="text-pink-600">*</span>
                    </label>
                </div>
                <!--! DESCRIPCION CORTA -->
                <div class="relative w-full flex ">
                    <input type="text" id="titulo" name="titulo" placeholder=" " value="Casa Horizonte"
                        class="block w-full rounded-md border border-gray-300 bg-transparent px-3 pt-5 pb-2 text-sm text-gray-900 focus:ring-slate-900 focus:ring-1  focus:outline-none " />
                    <label for="titulo"
                        class="absolute left-3 top-1.5 text-gray-500 text-sm transition-all peer-placeholder-shown:top-4 peer-placeholder-shown:text-gray-400 peer-placeholder-shown:text-sm mb-2 ">
                        Título <span class="text-pink-600">*</span>
                    </label>
                </div>
                <!--! DESCRIPCION LARGA -->
                <div class="relative w-full flex">
                    <input type="text" id="titulo" name="titulo" placeholder=" " value="Casa Horizonte"
                        class="block w-full rounded-md border border-gray-300 bg-transparent px-3 pt-5 pb-2 text-sm text-gray-900 focus:ring-slate-900 focus:ring-1  focus:outline-none " />
                    <label for="titulo"
                        class="absolute left-3 top-1.5 text-gray-500 text-sm transition-all peer-placeholder-shown:top-4 peer-placeholder-shown:text-gray-400 peer-placeholder-shown:text-sm mb-2 ">
                        Título <span class="text-pink-600">*</span>
                    </label>
                </div>
                <!--! IMAGEN PRINCIPAL -->
                <div class="relative w-full flex">
                    <input type="text" id="titulo" name="titulo" placeholder=" " value="Casa Horizonte"
                        class="block w-full rounded-md border border-gray-300 bg-transparent px-3 pt-5 pb-2 text-sm text-gray-900 focus:ring-slate-900 focus:ring-1  focus:outline-none " />
                    <label for="titulo"
                        class="absolute left-3 top-1.5 text-gray-500 text-sm transition-all peer-placeholder-shown:top-4 peer-placeholder-shown:text-gray-400 peer-placeholder-shown:text-sm mb-2 ">
                        Título <span class="text-pink-600">*</span>
                    </label>
                </div>
            </div>
        </form>
    }
</div>