.containerTituloSeccion {
    margin-bottom: 6.4rem;
    .tituloSeccion {
      font-size: 3rem;
      font-weight: 700;
      margin-bottom: 1.6rem;
      text-align: center;
    }

     .descripcionSeccion {
      max-width: 67.2rem;
      color: #52525b;
      font-size: 1.6rem;
      font-weight: 400;
      text-align: center;
      margin: 0 auto;
    }
}